{% extends 'update.html' %}

{% block content %}
    <div id="page">
        <div id="status"></div><br/>
        Veuillez spécifier votre position dans la carte:<br/>
        <div id="map_canvas"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://www.google.com/jsapi?key=AIzaSyA5m1Nc8ws2BbmPRwKu5gFradvD_hgq6G0"></script>
    <script type="text/javascript" src="/static/js/javascript.js"></script>
{% endblock %}