{% extends "base.html" %}
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <title>Mettre a jour le prix d'une station</title>
</head>
{% block content %}
    <div id="page">
        <div id="status"></div><br/>
        <div id="map_canvas"></div>
        <div id="formstation" class="hiddenform">
            <form action="/essence/mettreajour/" method="post" enctype="multipart/form-data">
            {% include 'miseajour.html' with form=formstation %}
            <input type="submit" value="OK" name="submit_station"/>
            </form>
        </div>
        <div id="formprix" class="hiddenform">
            <form action="/essence/mettreajour/" method="post">
            {% include 'miseajour.html' with form=formprix %}
            <input type="submit" value="OK" name="submit_prix"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://www.google.com/jsapi?key=AIzaSyA5m1Nc8ws2BbmPRwKu5gFradvD_hgq6G0"></script>
    <script type="text/javascript" src="/static/js/update.js"></script>
{% endblock %}

