{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url registration_register %}">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
    <input type="submit" name="submit" value="OK"/>
    </form>
    Note: vous devez activer votre profil par courriel ensuite.
{% endblock %}