/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}


p,div {
	margin:0;
	font-family:ProximaNovaCondensedBold
/*font-family: ProximaNovaBlack;*/
/*font-family: ProximaNovaCondensedBold;*/
/*font-family: ProximaNovaExtraCondensedBold;*/
/*font-family: ProximaNovaCondensedRegular;*/
/*font-family: ProximaNovaExtraBold;*/
/*font-family: ProximaNovaLight;*/
/*font-family: ProximaNovaRegular;*/
}

#page {
	background-image:url(../images/texture.jpg);
	width:960px;
	height:700px;
	position:absolute;
	margin:0;
	padding:0;
	overflow:hidden;
	border-bottom:1px;
	border-color:#d3d3d3;
	border-bottom-style:solid
}

#champRecherche {
	position:relative;
	top:15px;
	margin:25px;
	width:600px;
	height:20px
}

#inputAdresse {
	width:190px;
	color:#000;
	background-color:#edf0f1;
	padding:5px;
	border-radius:5px;
	border:2px;
	border-color:#4684ba;
	border-style:solid
}

#map_canvas {
	margin:25px;
	margin-top:30px;
	padding:0;
	height:650px;
	width:600px;
	position:relative
}

.author {
	font-size:20px;
	margin:0;
	padding:0;
	font-family:/*font-family: ProximaNovaBlack;*/
/*font-family: ProximaNovaCondensedBold;*/
/*font-family: ProximaNovaExtraCondensedBold;*/
/*font-family: ProximaNovaCondensedRegular;*/
/*font-family: ProximaNovaExtraBold;*/
/*font-family: ProximaNovaLight;*/
/*font-family: ProximaNovaRegular;*/
ProximaNovaCondensedBold
}
.numberCircle{
	color:#ffffff;
	background-color: #387cbc;
	border-radius:55px;
	padding:3px;
}
.titleLink {
	font-size:14px;
	margin:0;
	padding:0;
	font-family:ProximaNovaRegular;
	margin-left:1em;
	text-indent:-1em
}

#bande {
	position:absolute;
	background-image:url(../images/bande.png);
	height:55px;
	width:960px;
	background-repeat:no-repeat;
	margin:0;
	padding:0
}

.titreBande {
	text-transform:uppercase;
	position:absolute;
	font-size:34px;
	margin:0;
	padding:0;
	padding:6px;
	color:#fff;
	font-family:ProximaNovaBlack
}

ul {
	margin:0;
	padding:0;
	padding:0;
	list-style:none
}

li {
	float:left
}

#rightColumnBackground {
	position:absolute;
	background-color:#e8eef8;
	width:300px;
	height:850px;
	left:660px;
	top:0;
	box-shadow:0 0 12px #aab2b4;
	overflow-x:hidden
}

#rightColumn {
	position:absolute;
	margin-top:65px;
	margin-left:7px;
	margin-right:15px;
	float:right;
	width:275px
}

.filTitre {
	position:absolute;
	left:660px;
	top:6px;
	font-size:34px;
	margin:0;
	padding:0;
	padding:6px;
	color:#fff;
	font-family:ProximaNovaLight
}
.toggle {
		position: fixed;
		bottom: 0px;
		left: 50%;
		width:240px;
		margin: 0 auto;
		margin-bottom: 10px;
		margin-left: -120px;
	}
	.poptext, .poptextTwitter {
		width: 50px;
		height: 18px;
		font-size: 14px;
		text-align: left;
		padding-left: 23px;
		overflow: hidden;
		background: url('../images/arrows.png') no-repeat 5px 0px;
		cursor: pointer;
		margin: 0 AUTO;
		border-radius: 10px;
	}
	
  .highlight{
  	background: url('../images/arrows.png') no-repeat 5px -18px hsla(30, 100%, 50%, 0.80);
  }
#infobox{
	background-color:#fff;
	background-image: url('../images/noisetexture.png');
	border-radius:25px;
	position:absolute;
	top:790px;
	left:35px;
	width:530px;
	height:400px;
	cursor:pointer;
	padding:25px;
	padding-top:5px;
	box-shadow:0 0 12px #aab2b4
}
.infoboxTitle{
	font-size:20px;
	margin:0;
	padding:0;
	font-family:ProximaNovaCondensedBold
}
.infoboxContentSnippet{
	font-size:14px;
	margin:0;
	padding:0;
	font-family:ProximaNovaCondensedRegular
}
.infoboxLogos{
	width:35px;
	height:35px;
}
.link2012{
	font-size:19px;
	font-family:ProximaNovaCondensedBold
}
#twitter_div {
	background-color:#fff;
	border-radius:25px;
	top:750px;
	left:668px;
	width:285px;
	height:300px;
	cursor:pointer;
	box-shadow:0 0 12px #aab2b4
}
#twitterImage{
	position: relative;
	top:90px;
	left:-45px;
}
.alignRight {
	text-align:right
}

.resultsPourcentage {
	background-color:#919191
}

.twtr-doc {
	position:absolute
}

.circonscriptionTitle {
	font-size:28px
}

.pourcentage{
	display: inline-block;
	background-color: #b40000;
	font-family:ProximaNovaCondensedBold;
	color:#ffffff;
	border-radius:4px;
}
.infoboxIcons{
	background-image:url('icons.png');
	width:32px;
	height:37px;
}

#mapFond{
    left: 14px;
    top: 0px;
    position: absolute;
    height: 818px;
    width: 930px;
    text-shadow: 3px 3px 3px #7f807e;
    background-color: #fffefd;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}
#formFond{
    left: 632px;
    top: 88px;
    position: absolute;
    height: 730px;
    width: 311px;
    text-shadow: 3px 3px 3px #7f807e;
    background-color: #fffefd;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

#simplemodal-container a.modalCloseImg {
    background:url(../images/x.png) no-repeat; /* adjust url as required */
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}

#simplemodal-overlay {
    background-color:#000;
}

#simplemodal-container {
    background-color: #333333;
    border: 4px solid #444444;
    color: #BBBBBB;
    height: 320px;
    padding: 12px;
    width: 30%;
}

.hiddenform {
    display: none;;
}

#header {
    text-align: right;
}